<!DOCTYPE html>
<html>

  <head>
    <script data-require="jquery@*" data-semver="2.2.0" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <link data-require="bootstrap-css@*" data-semver="3.3.6" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" />
    <script data-require="angular.js@1.2.28" data-semver="1.2.28" src="https://code.angularjs.org/1.2.28/angular.js"></script>
    <script data-require="bootstrap.js@*" data-semver="3.3.6" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="style.css" />
    <script src="script.js"></script>
  </head>

  <body ng-app="app" ng-controller="appCtrl">
    <h1>{{title}}</h1>
    <h4 style="white-space: pre;">{{description}}</h4>
    <br />
    <p>Testing using Angular 1.2.28 for compatibility purposes</p>
    <button ng-class="{'btn': !allElements, 'btn active': allElements}" ng-init="allElements = true" ng-click="allElements=true; noElements=false;">All Elements</button>
    <button ng-class="{'btn': !noElements, 'btn active': noElements }" ng-init="noElements = false" ng-click="noElements=true; allElements=false;">No Elements</button>
    <br />
    <br />
    <p><strong>All Elements selected</strong>: {{allElements}}</p>
    <p><strong>No Elements selected</strong>: {{noElements}}</p>
  </body>

</html>
